#container{
  font-family: 'Muli', sans-serif;
  width:700px;
  margin:auto;
  background:red;
  height:900px;
  text-align:center;
  background: #fff url("../images/tee.jpg");
  background-repeat: no-repeat;
  background-position: center 70px;

  -moz-animation-name: riseUp;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.7s;

  -webkit-animation-name: riseUp;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.7s;

  animation-name: riseUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;


}

h1{
  font-size:40px;
  margin-top:30px;
  margin-bottom:0px;
}

* {
  outline: none;
}

form{
  margin-top:110px;
  overflow:visible;
  padding:50px;
}

#upload-message{
  margin-bottom:14px;
  font-size:24px;
}

#shirtName{
  width:340px;
  font-size:25px;
  padding:6px;
  /*display:none;*/
  margin-top:30px;

}
.input-holder{
  position:absolute;
  top:660px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width:400px;
  display:none;
  background:#303030;
  height:230px;
  text-align:center;
  border-radius:5px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '+';
  display: inline-block;
  background: #1abc9c;
  border-radius: 40px;
  padding: 50px 80px 80px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 100px;
  color:white;
}
.custom-file-input:hover::before {
  background:#0DD6AE;
}
.custom-file-input:active::before {
  background: #13E89D;
}

#canvas{
  margin-top:-60px;
  opacity:0.7;
  cursor:pointer;
}

.loader{
  margin-top:160px;
  display:none;
}

#next{
  background: #1abc9c;
  font-size:40px;
  border:0;
  padding:15px 45px;
  color:white;
  border-radius:4px;
  /*display:block;*/
  /*display:none;*/
  cursor:pointer;
  margin-top:40px;
  width:300px;
}

#next:hover{
  background:#0DD6AE;
}

@-moz-keyframes riseUp {
    0% {
      margin-top: 100px;
      opacity:0;
    }
    100% {
      margin-top: 0px;
      opacity:1;

    }
  }
  @-webkit-keyframes riseUp {
    0% {
      margin-top: 50px;
      opacity:0;
    }
    100% {
      margin-top: 0px;
      opacity:1;

    }
  }
  @keyframes riseUp {
    0% {
      margin-top: 100px;
      opacity:0;
    }
    100% {
      margin-top: 0px;
      opacity:1;
    }
  }
